<!DOCTYPE html>
<html>
<body>

<h1>Recipe</h1>

<form method="POST" action>
	Recipe name:<br>
	<input type="text" name="RecipeName">
	<br>
	Number of Ingredients<br>
	<input type="number" name="Quantity" min="1" max="20">
	<br>
	Ingredients<br>
	<input type="text" name="Ingredients">
	<br>
	Preparation<br>
	<form>
		<textarea name="prep" rows="30" cols="30"></textarea>
		<br>
	</form>

	Cook<br>
	<form>
		<textarea name="cook" rows="30" cols="30"></textarea>
		<br>
	</form>
	









<br><br>
<input type="submit" value="Submit">
</form> 



</body>
</html>


